.spin {
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	100% { -moz-transform: rotate(360deg); }
}

@keyframes spin {
	100% { transform: rotate(360deg); }
}