@font-face{
	font-family: DroidSans;
	src: url("../fonts/DroidSans.ttf") format("truetype");
	font-weight: normal;
}

@font-face{
	font-family: DroidSans;
	src: url("../fonts/DroidSans-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face{
	font-family: Karbon;
	src: url("../fonts/Karbon-Bold.otf") format("opentype");
	font-weight: bold;
}

@font-face{
	font-family: Karbon;
	src: url("../fonts/Karbon-Light.otf") format("opentype");
	font-weight: 300;
}

@font-face{
	font-family: Karbon;
	src: url("../fonts/Karbon-Thin.otf") format("opentype");
	font-weight: 100;
}