



@media screen and (max-width: 1440px) {

	#careers_section .shape[data-order="1"] > .title {
		font-size: 35px;
	}

	#careers_section .shape[data-order="1"] > .description {
		font-size: 12px;
	}

	#careers_section .shape[data-order="2"] > .icon {
		margin-top: 16.7%;
	}

	#careers_section .shape[data-order="4"] > .content {
		margin-top: 9.37%;
	}

	#careers_section .shape[data-order="4"] > .content .title {
		font-size: 35px;

		margin-bottom: 10px;
	}

	#careers_section .shape[data-order="4"] > .content .date {
		font-size: 12px;
	}

	#careers_section .shape[data-order="4"] > .content .second_title {
		font-size: 12px;

		margin-bottom: 18px;
	}

	#careers_section .shape[data-order="4"] > .content .text {
		font-size: 12px;

		line-height: 20.5px;
	}
}

@media screen and (max-width: 1350px) {
	#slideshow {
		height: 421.4px;
	}

	#slideshow .slide[data-order] {
		font-size: 56px;
	}

	#slideshow .slide[data-order="1"] > .content-wrap {
		position: absolute;

		height: 191px;
		width: 500px;

		top: 80px;
		left: 110px;

		box-shadow: 0px 0px 2px var(--slide-1-border-rgb);
	}

	#slideshow .slide[data-order="1"] > .content-wrap .content p {
		line-height: 70%;
		margin-left: -4px;

		padding: 29px 0px;
	}

	#slideshow .slide[data-order="2"] > .content-wrap {
		position: absolute;

		height: 178.5px;
		width: 376.6px;

		top: 80px;
		right: 119px;

		box-shadow: 0px 0px 2px var(--slide-2-border-rgb);
	}

	#slideshow .slide[data-order="2"] > .content-wrap .content p {
		line-height: 70%;
		margin-left: -4px;

		padding: 29px 0px;
	}

	#slideshow .slide[data-order="3"] > .content-wrap {
		position: absolute;

		height: 178.5px;
		width: 376.6px;

		top: 80px;
		right: 119px;

		box-shadow: 0px 0px 2px var(--slide-3-border-rgb);
	}

	#slideshow .slide[data-order="3"] > .content-wrap .content p {
		line-height: 70%;
		margin-left: -4px;

		padding: 29px 0px;
	}

	#slideshow .slide[data-order] > .content-wrap .content .border-top {
		width: 186.2px;
	}

	#slideshow .slide[data-order] > .content-wrap .content .border-bottom {
		width: 43.4px;
	}

	#services {
		max-height: none;
	}

}

@media screen and (max-width: 1250px) {

	#secondary_menu_content > .content {
		font-size: 14px;
	}

	#secondary_menu_content > .content .link_wrap {
		padding: 0px 54px;
	}

	#careers_section {
		min-height: 520px;
		/*height: 480px;*/

		background: url("../img/new_careers_background.png") left -0px top no-repeat;
		background-size: fill;
	}

	#careers_section .content {
		width: 680px;
		height: inherit;

		position: relative;

		margin: 0 auto;
	}

	#careers_section .shape {
		width: 271.63px;
	}

	#careers_section img.careers_bg_img {
		width: 100%;

		display: none;
	}

	#careers_section .shape[data-order="1"] {
		left: 202.3px;

		height: 199.472px;
	}

	#careers_section .shape[data-order="1"] > .title {

		margin-top: 5.47%;
		margin-bottom: 5.51%;
	}

	#careers_section .shape[data-order="1"] > .description {

		width: 180px;
	}

	#careers_section .shape[data-order="2"] {
		top: 82.628px;
		left: 0px;

		height: 233.688px;
	}

	#careers_section .shape[data-order="2"] > .icon {
		margin-top: 12.7%;
	}

	#careers_section .shape[data-order="3"] {
		top: 199px;
		left: 202.3px;

		height: 233.688px;

		background-image: url("../img/whole_shape_3.png");
	}

	#careers_section .shape[data-order="3"] > .icon {
		margin-top: 18.1%;
	}

	#careers_section .shape[data-order="4"] {
		top: 81px;
		left: 406px;

		height: 234.52px;
	}

	#careers_section .shape[data-order="4"] > .content .second_title {
		line-height: 12px;

		margin-bottom: 22px;
	}

	#careers_section .shape[data-order="4"] > .content .text {
		line-height: 15.5px;
	}

}

/* primary_menu wrap */
@media screen and (max-width: 1230px){

	#primary_menu .left_menu .link_wrap .link {
		padding: 0px 17px;
	}

	#about_us_menu .content {
		padding-left: 15%;
	}

	#search_bar .content {
		padding-left: 23.133333333333333%;
	}

	#services > .content .images .item:first-child {
		margin-right: 15px;
		margin-left: 0px;
	}

}

@media screen and (max-width: 1120px) {

	#products_section > .content {
		padding-left: 100px;
		padding-right: 100px;
	}
}

/* primary_menu wrap x2 */
@media screen and (max-width: 1030px) {

	.about_us_menu .content {
		padding-left: 2.666666666666667%;
	}

	#primary_menu .left_menu {
		display: none;
	}

	#primary_menu .right_menu .mobile_menu {
		display: block;
	}

	#secondary_menu_content > .content {
		font-size: 12.5px;
	}

	#secondary_menu_content > .content .link_wrap {
		padding: 0px 34px;
	}

	#services {
		max-height: none;
	}

	#services > .content .images .left,
	#services > .content .images .right {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%
	}

	#services > .content .images .item:first-child {
		margin-right: 0;
		margin-bottom: 40px;
	}

	#products_section > .content > .products .item {
		margin-right: 0px;
	}

	#footer > .content {
		flex-direction: column;
	}

	#footer > .content > .left {
		justify-content: space-between;
	}

	#footer > .content > .right_wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 970px) {

	#slideshow {
		height: 301px;
	}

	#slideshow .slide[data-order] {
		font-size: 46px;
	}

	#slideshow .slide[data-order="1"] > .content-wrap {
		position: absolute;

		height: 140px;
		width: 370px;

		top: 70px;
		left: 70px;

		box-shadow: 0px 0px 2px var(--slide-1-border-rgb);
	}

	#slideshow .slide[data-order="1"] > .content-wrap .content p {
		line-height: 73%;
		margin-left: -4px;

		padding: 19px 0px;
	}

	#slideshow .slide[data-order="2"] > .content-wrap {
		position: absolute;

		height: 127.5px;
		width: 350px;

		top: 70px;
		right: 24px;

		box-shadow: 0px 0px 2px var(--slide-2-border-rgb);
	}

	#slideshow .slide[data-order="2"] > .content-wrap .content p {
		line-height: 73%;
		margin-left: -4px;

		padding: 19px 0px;
	}

	#slideshow .slide[data-order="3"] > .content-wrap {
		position: absolute;

		height: 127.5px;
		width: 310px;

		top: 70px;
		right: 24px;

		box-shadow: 0px 0px 2px var(--slide-3-border-rgb);
	}

	#slideshow .slide[data-order="3"] > .content-wrap .content p {
		line-height: 73%;
		margin-left: -4px;

		padding: 19px 0px;
	}

	#slideshow .left_button {
		position: absolute;

		top: 50%;
		margin-top: -41.5px;
		left: 0;

		height: 57.4px;
		width: 49.699999999999996px;
	}

	#slideshow .left_button .content img[data-slide] {
		width: 100%;
		height: 100%;
	}

	#slideshow .left_button .content img.icon {
		position: absolute;

		height: 21px;

		top: 50%;
		left: 0;

		margin-top: -9.5px;
		margin-left: 12px;
	}

	#slideshow .right_button {
		position: absolute;

		top: 50%;
		margin-top: -41.5px;
		right: 0;

		height: 57.4px;
		width: 49.699999999999996px;
	}

	#slideshow .right_button .content img[data-slide] {
		width: 100%;
		height: 100%;
	}

	#slideshow .right_button .content img.arrow_icon {
		position: absolute;

		height: 21px;

		top: 50%;
		right: 0;

		margin-top: -9.5px;
		margin-right: 12px;
	}

	#slideshow .slide[data-order] > .content-wrap .content .border-top {
		width: 133px;
	}

	#slideshow .slide[data-order] > .content-wrap .content .border-bottom {
		width: 62px;
	}

}

@media screen and (max-width: 900px) {

	#search_bar > .content {
		padding-left: 50px;

		display: flex;
		flex-direction: row;

		width: auto;

		padding-top: 13px;

		margin: 0 auto;
	}

	#search_bar .search_icon img{
		margin-top: 31px;
		margin-right: 7px;

		width: 50px;
		height: 50px;
	}

	#search_bar > .content >  input {

		height: 105px; /*in browser height is 107px*/
		max-width: 100%;

		font-family: Karbon;
		font-weight: bold;
		font-size: 50.26pt;

		line-height: 105px;

		text-align: left;

		color: var(--search-input-text);
	}

}

@media screen and (max-width: 860px) {

	#footer > .content, 
	#small_footer > .content {
		margin-left: 82px;
		margin-right: 82px;
	}
}

@media screen and (max-width: 820px) {

	#secondary_menu_content {
		height: auto;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#secondary_menu_content > .hamburger_menu {
		padding: 15.5px 0;

		display: block;

	}

	#secondary_menu_content > .content {
		height: auto;

		font-size: 14px;

		margin: 0 auto;


		align-items: center;
		justify-content: center;

		flex-direction: column;

		display: none;

	}

	#secondary_menu_content:hover {
		cursor: pointer;
	}

	#secondary_menu_content:hover > .content {
		display: flex;

	}

	#secondary_menu_content > .content .link_wrap {
		position: relative;

		height: inherit;
		line-height: 55px;

		max-width: 120px;

		border-right: none;
		border-top: 1px solid var(--secondary-menu-border-long);

		display: flex;
		justify-content: center;
	}

	#secondary_menu_content > .content .link_wrap:last-child,
	#secondary_menu_content > .content .link_wrap:last-child .border_right_small {
		border-right: none;
		border-bottom: none;
	}

	#secondary_menu_content > .content .link_wrap .link a:hover {
		color: var(--primary-menu-link-hover);
		border-bottom: 2px solid var(--primary-menu-link-hover);

		cursor: pointer;
	}

	#secondary_menu_content > .content .link_wrap .border_right_small {
		position: absolute;

		left: 50%;
		margin-left: -10px;

		top: 4px;

		width: 20px;

		z-index: 2;

		pointer-events: none;

		border-top:1px solid var(--secondary-menu-border-short);

		border-right: none;
	}

}

@media screen and (max-width: 768px) {

	#careers_section {
		display: flex;
		justify-content: center;


	}

	#careers_section .content {
		width: 470px;
		height: inherit;

		position: relative;
	}

	#careers_section .shape {
		width: 271.63px;

	}

	#careers_section img.careers_bg_img {
		width: 100%;

		display: none;
	}

	#careers_section .shape[data-order="1"] {
		left: 0px;
	}

	#careers_section .shape[data-order="2"] {
		top: 197px;
		left: 0px;
	}

	#careers_section .shape[data-order="3"] {
		top: 315.834px;
		left: 202.3px;
	}

	#careers_section .shape[data-order="4"] {
		left: 202.3px;
	}

}

@media screen and (max-width: 740px) {

	#services > .content {
		padding-right: 82px;
		padding-left: 82px;
	}

	#services > .content .images {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		width: 100%;

		text-align: center;

		margin-top: 47px;
	}

	#services > .content .images .left,
	#services > .content .images .right {
		margin-bottom: 40px;
	}

	#services > .content .description {
		display: none;
	}

	#services > .content .mobile_description {
		display: block;
	}

	#services > .content .mobile_description .left {
		margin-bottom: 10px;
	}

	#products_section > .content {

		padding-left: 70px;
		padding-right: 70px;
	}

}

@media screen and (max-width: 670px) {

	#slideshow .slide[data-order] {
		font-size: 34px;
	}

	#slideshow .slide[data-order="1"] {
		background-position: left -100px center;
	}

	#slideshow .slide[data-order="1"] > .content-wrap {
		position: absolute;

		height: 110px;
		width: 320px;

		top: 70px;
		left: 30px;

		box-shadow: 0px 0px 2px var(--slide-1-border-rgb);
	}

	#slideshow .slide[data-order="1"] > .content-wrap .content p {
		line-height: 73%;
		margin-left: -4px;

		padding: 12px 0px;
	}

	#slideshow .slide[data-order="2"] {
		background-position: right -90px center;
	}

	#slideshow .slide[data-order="2"] > .content-wrap {
		position: absolute;

		height: 100px;
		width: 245px;

		top: 70px;
		right: 8px;

		box-shadow: 0px 0px 2px var(--slide-2-border-rgb);
	}

	#slideshow .slide[data-order="2"] > .content-wrap .content p {
		line-height: 73%;
		margin-left: -4px;

		padding: 12px 0px;
	}

	#slideshow .slide[data-order="3"] {
		background-position: right -90px center;
	}

	#slideshow .slide[data-order="3"] > .content-wrap {
		position: absolute;

		height: 100px;
		width: 220px;

		top: 70px;
		right: 20px;

		box-shadow: 0px 0px 2px var(--slide-3-border-rgb);
	}

	#slideshow .slide[data-order="3"] > .content-wrap .content p {
		line-height: 73%;
		margin-left: -4px;

		padding: 12px 0px;
	}

	#slideshow .slide[data-order] > .content-wrap .content .border-top {
		width: 66.5px;
	}

	#slideshow .slide[data-order] > .content-wrap .content .border-bottom {
		width: 31px;
	}

	#services > .content .title .small_text {
		font-weight: bold;
		font-size: 13px;
		color: var(--services-netvariant-font);

		height: 8px;
		line-height: 8px;

		margin-bottom: 8px;
	}

	#services > .content .title .big_text {
		font-weight: 100;
		font-size: 60px;
		color: var(--services-title-font);

		height: 36px;
		line-height: 36px;

		margin-left: -4px;
	}

}

@media screen and (max-width: 600px) {

	#primary_menu {
		height: 140px;
	}

	#primary_menu .logo {
		min-width: 100%;
		min-height: 70px !important;

		display: flex;
		justify-content: center;
	}

	#primary_menu .logo img {

		height: 25px;
	}

	#primary_menu .right_menu {
		clear: both;

		justify-content: center;
		float: none;

		width: auto;

		height: 70px;
	}

	#primary_menu .right_menu img {
		width: auto;
		height: auto;
	}

	#search_bar {
		display: none;

		position: absolute;

		top: 140px;
		left: 0;

		height: 83px;
		width: 100%;

		background-color: #fff;

		box-shadow: 0px 2px 6px rgba(0,0,0,0.2);

		overflow: hidden;

		z-index: 20;
	}

	#search_bar > .content {
		padding-left: 10px;

		display: flex;
		flex-direction: row;

		width: auto;

		padding-top: 13px;

		margin: 0 auto;
	}

	#search_bar .search_icon img{
		margin-top: 20px;
		margin-right: 7px;

		width: 20px;
		height: 20px;
	}

	#search_bar > .content >  input {
		height: 55px; /*in browser height is 107px*/
		max-width: 100%;

		font-family: Karbon;
		font-weight: bold;
		font-size: 20.26pt;

		line-height: 105px;

		text-align: left;

		color: var(--search-input-text);
	}

	#primary_menu .mobile_menu > .left_mobile_menu {
		flex-direction: column !important;
		justify-content: flex-start;

		height: auto;
	}

	#primary_menu .mobile_menu > .left_mobile_menu .link_wrap {
		display: flex;
		justify-content: center;

		border-left: none;

		height: auto;
		padding-top: 10px;
		padding-bottom: 10px;

		width: 176px;

		border-top: 1px solid var(--about-us-separator);
	}

	#primary_menu .mobile_menu > .left_mobile_menu .link_wrap:last-child {
		border-bottom: none;
	}

	#primary_menu .mobile_menu > .left_mobile_menu .link{

		border: none;	

		height: auto;
		margin: 0;
	}

	#primary_menu .mobile_menu > .left_mobile_menu .about_us_menu span {
		font-size: 30px;
		line-height: 70px;
		color: var(--about-us-menu-title);

		margin-right: 10px;
	}

	#primary_menu .mobile_menu > .left_mobile_menu .about_us_menu .link {
		display: flex;
		justify-content: center;

		line-height: 18px;

		font-family: Karbon;
		font-size: 10px;
		font-weight: bold;

		margin-top: 26px;
		height: 21px;

		padding: 0px 14px 0px 17px;

		border-right: 1px solid var(--about-us-separator);
	}

	#primary_menu .mobile_menu > .left_mobile_menu .about_us_menu .link:first-of-type {
		padding-left: 0px;
	}

	#secondary_menu_content > .content {
		font-size: 11px;

		flex-direction: column;

		display: none;
	}

	#secondary_menu_content > .content .link_wrap {
		max-width: 80px;
	}

	#secondary_menu_content > .content .link_wrap .link {
		text-align: center;
	}


	#services > .content .title .small_text {
		font-size: 13px;

		height: 8px;
		line-height: 8px;

		margin-bottom: 8px;
	}

	#services > .content .title .big_text {
		font-size: 60px;

		height: 36px;
		line-height: 36px;

		margin-left: -4px;
	}

	#services > .content .mobile_description {
		font-size: 14px;

		line-height: 21px;
	}

	#products_section > .content {

		padding-left: 30px;
		padding-right: 30px;
	}

}

@media screen and (max-width: 530px) {

	#footer > .content {
		margin-left: 0px;
		margin-right: 0px;
	}

	#footer > .content > .left {
		justify-content: flex-start;
	}

	#footer > .content > .left .item {
		margin-left: 25px;
	}

	#small_footer > .content {
		margin-left: 16px;
		margin-right: 16px;

		display: flex;
		flex-direction: column;
		align-items: center;

	}

}

@media screen and (max-width: 480px) {

	#careers_section > .content {
		display: none;
	}

	#careers_section > .mobile_content {
		width: 100%;

		display: flex;
		flex-direction: column;
	}

	#careers_section .shape[data-order] {
		background: none;

		height: 240px;
		width: 100%;

		position: relative;

		margin: 0;

		left: 0;
		top: 0;
	}

	#careers_section .shape[data-order="1"] {
		background-color: var(--careers-blue-rgba);
	}

	#careers_section .shape[data-order="1"] > .title {
		margin-top: 8%;
	}

	#careers_section .shape[data-order="1"] > .description {
		width: 250px;
	}

	#careers_section .shape[data-order="2"] {
		background-color: var(--careers-blue-rgba);
	}

	#careers_section .shape[data-order="2"] > .icon {
		margin-top: 8%;
	}

	#careers_section .shape[data-order="3"] {
		background-color: var(--careers-white-rgba);
	}

	#careers_section .shape[data-order="4"] {
		background-color: var(--careers-orange-rgba);
	}


}

@media screen and (max-width: 450px) {

	#services > .content {
		padding-right: 40px;
		padding-left: 40px;
	}

	#services > .content .images {
		font-size: 24px;
	}

	#services > .content .images .item {
		width: 150px;
	}

	#services > .content .images .item img {
		width: 70%;
	}

	#products_section > .content > .products .item {
		height: auto;

		margin-bottom: 25px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#products_section > .content > .products .item > .content {
		float: right;

		width: auto;
		height: auto;
	}

	#products_section > .content > .products .item .title .product_title {
		font-size: 35px;

		height: 20px;
		line-height: 20px;
	}

	#products_section > .content > .products .item .title .second_title {
		font-size: 11px;

		height: 7px;
		line-height: 7px;

		margin-bottom: 10px;
	}

	#products_section > .content > .products .item .description {
		font-size: 13px;

		margin-top: 20px;
	}

}

@media screen and (max-width: 400px) {
	#primary_menu .button {
		height: 70px;
		width: 60px;

		border-left: 2px solid var(--primary-menu-separator);
	}

	#primary_menu .dropdown-content,
	#primary_menu .dropdown-content div {
		width: 60px;
	}

	#primary_menu .mobile_menu > .left_mobile_menu .about_us_menu span {
		font-size: 20px;
		line-height: 70px;
		color: var(--about-us-menu-title);

		margin-right: 5px;
	}

	#primary_menu .mobile_menu > .left_mobile_menu .about_us_menu .link {
		display: flex;
		justify-content: center;

		line-height: 18px;

		font-family: Karbon;
		font-size: 10px;
		font-weight: bold;

		margin-top: 26px;
		height: 21px;

		padding: 0px 5px 0px 5px;

		border-right: 1px solid var(--about-us-separator);
	}

	#primary_menu .mobile_menu > .left_mobile_menu .about_us_menu .link:first-of-type {
		padding-left: 0px;
	}

	#primary_menu .mobile_menu > .left_mobile_menu .about_us_menu .link:last-child {
		border-right: none;
	}

	#secondary_menu_content > .content .link_wrap {
		line-height: 15px;

		max-width: 70px;
		box-decoration-break: clone;

		padding: 20px 0px;
	}

	#secondary_menu_content > .content .link_wrap .border_right_small {
		margin-left: -2.5px;

		width: 5px;
	}

}


/* *************************  min-width ***************************** */

@media screen and (min-width: 1600px) {

	#services > .content .images .left, 
	#services > .content .images .right {
		justify-content: space-around;
	}

	#careers_section .shape[data-order="1"] {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#careers_section .shape[data-order="1"] > .title {
		font-size: 45px;
	}

	#careers_section .shape[data-order="1"] > .description {
		font-size: 15px;
	}

	#careers_section .shape[data-order="3"] > .icon {
		margin-top: 30%;
	}

	#careers_section .shape[data-order="4"] > .content .title {
		font-size: 45px;

		margin-bottom: 20px;
	}

	#careers_section .shape[data-order="4"] > .content .date {
		font-size: 15px;

		margin-bottom: 10px;
	}

	#careers_section .shape[data-order="4"] > .content .second_title {
		font-size: 15px;

		margin-bottom: 24px;
	}

	#careers_section .shape[data-order="4"] > .content .text {
		font-size: 15px;

		line-height: 18px;
	}

}


@media screen and (min-width: 2150px) {

	#careers_section .shape[data-order="1"] > .title {
		font-size: 60px;

		margin-top: 14%;
	}

	#careers_section .shape[data-order="1"] > .description {
		font-size: 18px;

		width: 220px;
	}

	#careers_section .shape[data-order="2"] > .icon {
		width: 120px;
		height: 130.5px;

		margin-top: 18%;
	}

	#careers_section .shape[data-order="2"] > .text {
		font-size: 38px;

		line-height: 30px;

		width: 200px;
	}

	#careers_section > .content .shape[data-order="3"] > .icon {
		width: 114px;
		height: 85.5px;

		margin-top: 22%;
	}

	#careers_section .shape[data-order="3"] > .text {
		font-size: 38px;

		line-height: 30px;

		width: 150px;
	}

	#careers_section .shape[data-order="4"] > .content {
		margin-top: 22%;
	}

	#careers_section .shape[data-order="4"] > .content .title {
		font-size: 55px;

		margin-bottom: 25px;
	}

	#careers_section .shape[data-order="4"] > .content .date {
		font-size: 18px;

		margin-bottom: 15px;
	}

	#careers_section .shape[data-order="4"] > .content .second_title {
		font-size: 18px;

		margin-bottom: 28px;
	}

	#careers_section .shape[data-order="4"] > .content .text {
		font-size: 18px;

		line-height: 25px;
	}

	#footer > .content > .right_wrapper {
		width: 650px;
	}

}

@media screen and (min-width: 2300px) {

	#careers_section .shape[data-order="1"] > .title {
		font-size: 60px;

		margin-top: 15%;
	}

	#careers_section .shape[data-order="1"] > .description {
		font-size: 20px;

		width: 260px;
	}

	#careers_section .shape[data-order="4"] > .content .second_title {
		margin-bottom: 34px;

		line-height: 22px;
	}

}
