:root {
	--dimmer-background-rgba: rgba(31, 181, 227, .95);

	--main-background: #eff2f4;

	--primary-menu-background: #272b2f;
	--about-us-background: #3a3f45;

	--primary-menu-separator: #343739;
	--about-us-separator: #4d535b;
	--dropdown-separator: #52565b;

	--search-button-background: #3f4246;
	--dropdown-button-background: #3f4246;

	--search-input-text: #5f6467;

	--primary-menu-link-hover: #20a7d1;
	--heart-hover: #ff4989;

	--about-us-menu-title: #4d545c;

	--secondary-menu-link: #909fae;
	--secondary-menu-border-long: #e3e7eb;
	--secondary-menu-border-short: #1fb5e3;

	--logo-gray-font: #bdbebe;
	--gray-font: #676f75;

	/*MAKE THESE 33% OPACUE*/
	--slide-1-border-top-rgba: rgba(0, 108, 199, 0.33); /*#006cc7;*/
	--slide-1-border-bottom-rgba: rgba(0, 110, 201, 0.33); /*#006cc7;*/

	--slide-2-border-top-rgba: rgba(237, 61, 0, 0.33); /*#ec3b00;*/
	--slide-2-border-bottom-rgba: rgba(235, 58, 0, 0.33); /*#ec3b00;*/

	--slide-3-border-top-rgba: rgba(0, 0, 208, 0.33); /*#0000c8;*/
	--slide-3-border-bottom-rgba: rgba(0, 0, 213, 0.33); /*#0000c8;*/

	/* Our services */
	--services-netvariant-font: #909fae;
	--services-text-font: #626a72;
	--services-title-font: #21bae5;
	--services-under-icon-font: #626a72;

	/* Our products */
	--products-netvariant-font: #0a647f;
	--products-text-font: #d8f0f8;
	--products-title-font: #fefefe;
	--products-product-title-font: #fff;
	--products-product-second-title-font: #0a637e;
	--products-divider-rgba: rgba(22, 161, 204, 0.89);
	--products-background: #1fb5e3;

	/* Careers */ 
	--careers-blue-font: #1fb5e3;
	--careers-news-second-title: #b84c0a;

	--careers-blue-rgba: rgba(31, 181, 227, 0.9);
	--careers-white-rgba: rgba(255, 255, 255, 0.9);
	--careers-orange-rgba: rgba(241, 150, 33, 0.9);

	/* Footer */
	--footer-background: #272b2f;

	--footer-links-border-top: #3a3f44;
	--footer-links-title-font: #ffffff;
	--footer-links-link-font: #828a90;

	--footer-contact-us-background: #3a3f45;
	--footer-contact-us-title-font: #fefefe;
	--footer-contact-us-second-title-font: #fefefe;
	--footer-contact-us-data-font: #828a90;
	--footer-hyperlink-font: #1fb5e3;
	--footer-floating-border-bottom: #1fb5e3;

	/* Small footer */
	--small-footer-background: #1b1e20;
	--small-footer-color: #889096;
	--small-footer-highlight-color: #b9c0c6;
	--small-footer-border: #3a3f44;
}

body {

	width: 100%;
	color: white;

	background-color: var(--main-background);

	z-index: 1;

	position: fixed;
	overflow-y: scroll;
}

body * {
	z-index: 1;
}

body > #body_content {
	display: none;
}

#dimmer {
	position: absolute;

	top: 0;
	left: 0;

	height: 100vh;
	width: 100%;

	pointer-events: none;
	user-select: none;

	z-index: 500;
}

#dimmer .content {
	position: relative;

	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--dimmer-background-rgba);
}

#dimmer > .content > .spinner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#dimmer > .content > .spinner > img {
	margin-bottom: 20px;
}

/* primary_menu */

#primary_menu {
	font-family: Karbon;

	position: relative;

	height: 70px;
	width: 100%;

	font-weight: bold;

	margin: 0;

	background-color: var(--primary-menu-background);
	box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
	z-index: 20;

}

#primary_menu .logo {

	max-height: 25px;
	max-width: 165px;

	float: left;
}

#primary_menu .logo a {
	cursor: pointer;
}

#primary_menu .logo img {

	margin-top: 24px;
	margin-left: 29px;
}

#primary_menu > .left_menu {
	height: 70px;

	background-color: var(--primary-menu-background);
}

#primary_menu .left_menu > .link_wrap {
	height: 100%;

	float: right;
}

#primary_menu .left_menu > .link_wrap > .link {
	padding: 0px 37px;
	margin-top: 25px;

	height: 21px;

	border-left: 1px solid var(--primary-menu-separator);

	font-size: 13px;
	display: inline-block;

	float: right;
}

#primary_menu .left_menu .link a {
	line-height: 21px;

	text-decoration: none;
	cursor: none;

}

#primary_menu .left_menu .link[data-mark] {
	border-left: none;
}

#primary_menu .left_menu .link a:hover {
	color: var(--primary-menu-link-hover);
	border-bottom: 2px solid var(--primary-menu-link-hover);

	cursor: pointer;
}

#primary_menu .right_menu {
	display: flex;
	float: right;

	max-height: 100%;
}

#primary_menu .button {
	height: 70px;
	width: 70px;

	border-left: 2px solid var(--primary-menu-separator);
}

#primary_menu .right_menu .button:last-child {
	border-left: none;
}

#primary_menu .button img{
	margin-top: 24px;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

#primary_menu .button:hover {
	cursor: pointer;
}

#primary_menu .search_wrapper {
	background-color: var(--search-button-background);
}


/* The container <div> - needed to position the dropdown content */
#primary_menu .social {
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#primary_menu .dropdown-content {
	display: none;

	margin-top: -3px;
	margin-left: 2px;

	position: absolute;
	width: 70px;
	z-index: 250;

}

/* Links inside the dropdown */
#primary_menu .dropdown-content div {
	width: 70px;
	height: 70px;
	text-decoration: none;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-top: 1px solid var(--dropdown-separator);
	background-color: var(--dropdown-button-background);

	cursor: pointer;
}

#primary_menu .dropdown-content div:first-child{
	border-top: none;
	background: linear-gradient( #33363a, #3f4246 16px);

}

#primary_menu .dropdown-content div img{
	margin: 0 auto;
}

/* Show the dropdown menu on hover */
#primary_menu .dropdown:hover .dropdown-content {
	display: block;
}

/* about_us_menu */

.about_us_menu {
	display: none;

	position: absolute;

	top: 70px;
	left: 0;

	height: 70px;
	width: 100%;

	background-color: var(--about-us-background);

	font-family: Karbon;
	font-weight: 100;

	box-shadow: 2px 0px 6px #000;

	z-index: 50;
}

.about_us_menu .content {
	display: flex;
	flex-direction: row;

	padding-left: 22.066666666666666%;
}

.about_us_menu span {
	font-size: 50px;
	line-height: 70px;
	color: var(--about-us-menu-title);

	margin-right: 18px

}

.about_us_menu .link {
	display: flex;
	justify-content: center;

	line-height: 21px;

	font-family: Karbon;
	font-size: 13px;
	font-weight: bold;

	margin-top: 26px;
	height: 21px;

	padding: 0px 34px 0px 37px;

	border-right: 1px solid var(--about-us-separator);
	
}

.about_us_menu .link:first-of-type {
	padding-left: 0px;
}

.about_us_menu .link:last-child {
	border-right: none;
}

.about_us_menu .link a:hover {
	color: var(--primary-menu-link-hover);
	border-bottom: 2px solid var(--primary-menu-link-hover);

	cursor: pointer;
}

#primary_menu .right_menu .mobile_menu {

	position: static;

	border-left: 2px solid var(--primary-menu-separator);

	float: right;

	display: none;
}

#priamry_menu .mobile_menu img {
	height: 21px;
	width: 21px;
}

#primary_menu .left_mobile_menu {
	position: absolute;

	display: none;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 70px;
	top: 100%;
	left: 0;

	box-shadow: 0px 2px 6px rgba(0,0,0,0.2);

	background-color: var(--primary-menu-background);
}

#primary_menu .left_mobile_menu > .link_wrap {
	float: none;
	height: 70px;
}

#primary_menu .left_mobile_menu > .link_wrap > .link {
	padding: 0px 17px;
	margin-top: 25px;

	height: 21px;

	border-left: 1px solid var(--primary-menu-separator);

	font-size: 13px;
	display: inline-block;

	float: right;
}

#primary_menu .left_mobile_menu .link a {
	line-height: 21px;

	text-decoration: none;
	cursor: none;
}

#primary_menu .left_mobile_menu .link[data-mark] {
	border-left: none;
}

#primary_menu .left_mobile_menu .link a:hover {
	color: var(--primary-menu-link-hover);
	border-bottom: 2px solid var(--primary-menu-link-hover);

	cursor: pointer;
}

#primary_menu .left_mobile_menu .about_us_menu {
	top: 100%;
}

#primary_menu .left_mobile_menu .about_us_menu span {
	font-size: 50px;
	line-height: 70px;
	color: var(--about-us-menu-title);

	margin-right: 8px
}

#primary_menu .left_mobile_menu .about_us_menu .link {
	display: flex;
	justify-content: center;

	line-height: 21px;

	font-family: Karbon;
	font-size: 13px;
	font-weight: bold;

	margin-top: 26px;
	height: 21px;

	padding: 0px 14px 0px 17px;

	border-right: 1px solid var(--about-us-separator);
}

#primary_menu .left_mobile_menu .about_us_menu .link:last-child {
	border-right: none;
}

/* search_bar */

#search_bar {
	display: none;

	position: absolute;

	top: 70px;
	left: 0;

	height: 133px;
	width: 100%;

	background-color: #fff;

	box-shadow: 0px 2px 6px rgba(0,0,0,0.2);

	overflow: hidden;

	z-index: 20;
}

#search_bar .content {
	display: flex;
	flex-direction: row;

	height: 107px;
	width: auto;

	padding-left: 36.46666666666666%;
	padding-top: 13px;

	margin: 0 auto;
}

#search_bar .search_icon img{
	margin-top: 16px;
	margin-right: 7px;
}

#search_bar > .content >  input {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	border: none;

	padding: none;

	height: 105px; /*in browser height is 107px*/
	max-width: 100%;

	font-family: Karbon;
	font-weight: bold;
	font-size: 96.26pt;

	line-height: 105px;

	text-align: left;

	color: var(--search-input-text);
}

#search_bar > .content > input:focus {
	outline: none;
}

#search_bar > .content > input::placeholder {
	color: #eff2f4;
	padding-left: 12px;
	opacity: 1;
}

#search_bar > .content > input::-webkit-input-placeholder {
	color: #eff2f4;
	padding-left: 12px;
	opacity: 1;
}

#search_bar > .content > input:-moz-placeholder {
	color: #eff2f4;
	padding-left: 12px;
	opacity: 1;
}

#search_bar > .content > input::-moz-placehoder {
	color: #eff2f4;
	padding-left: 12px;
	opacity: 1;
}

#search_bar > .content >  input:-ms-input-placeholder {
	color: #eff2f4;
	padding-left: 12px;
	opacity: 1;
}

/* slideshow */

#slideshow {
	position: relative;
	left: 0;

	height: 602px;
	width: 100%;

	overflow: hidden;
}

#slideshow * {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#slideshow .slides {
	position: absolute;
	left: 0;

	height: inherit;

	display: flex;
}

#slideshow .slide {
	position: relative;

	height: inherit;
	width: 100%;
}

#slideshow .right_button {
	position: absolute;

	top: 50%;
	margin-top: -41.5px;
	right: 0;

	height: 82px;
	width: 71px;
}

#slideshow .right_button .content {
	position: relative;

	height: inherit;
	width: inherit;
}

#slideshow .right_button .content img[data-slide] {
	position: absolute;
}

#slideshow .right_button .content img.arrow_icon {
	position: absolute;

	top: 50%;
	right: 0;

	margin-top: -14px;
	margin-right: 16px;
}

#slideshow .left_button {
	position: absolute;

	top: 50%;
	margin-top: -41.5px;
	left: 0;

	height: 82px;
	width: 71px;
}

#slideshow .left_button .content {
	position: relative;

	height: inherit;
	width: inherit;
}

#slideshow .left_button .content img[data-slide] {
	position: absolute;
}

#slideshow .left_button .content img.icon {
	position: absolute;

	top: 50%;
	left: 0;

	margin-top: -14px;
	margin-left: 16px;
}

#slideshow,
.button .content img.icon:hover {
	cursor: pointer;
}

[data-flipped-h] {
	
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#slideshow .slide[data-order="1"] {
	background: no-repeat left center;
	background-image: url("../img/slide_1.png");
}

#slideshow .slide[data-order="1"] > .content-wrap {
	position: absolute;

	height: 273px;
	width: 636px;

	top: 166px;
	left: 169px;

	box-shadow: 0px 0px 2px var(--slide-1-border-rgb);
}

#slideshow .slide[data-order="1"] > .content-wrap .content p {
	line-height: 73%;
	margin-left: -4px;

	padding: 39px 0px;
}

#slideshow .slide[data-order="2"] {
	background: no-repeat right center;
	background-image: url("../img/slide_2.png");
}

#slideshow .slide[data-order="2"] > .content-wrap {
	position: absolute;

	height: 255px;
	width: 538px;

	top: 166px;
	right: 171px;

	box-shadow: 0px 0px 2px var(--slide-2-border-rgb);
}

#slideshow .slide[data-order="2"] > .content-wrap .content p {
	line-height: 73%;
	margin-left: -4px;

	padding: 39px 0px;
}

#slideshow .slide[data-order="3"] {
	background: no-repeat right center;
	background-image: url("../img/slide_3.png");
}

#slideshow .slide[data-order="3"] > .content-wrap {
	position: absolute;

	height: 255px;
	width: 538px;

	top: 166px;
	right: 171px;

	box-shadow: 0px 0px 2px var(--slide-3-border-rgb);
}

#slideshow .slide[data-order="3"] > .content-wrap .content p {
	line-height: 73%;
	margin-left: -4px;

	padding: 39px 0px;
}

#slideshow .slide[data-order] {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: Karbon;
	font-weight: 100;
	font-size: 80px;
}

#slideshow .slide[data-order] > .content-wrap .content .border-top {
	height: 1px;
	width: 266px;

	position: absolute;
	top: 0;
	left: 0;
}

#slideshow .slide[data-order] > .content-wrap .content .border-bottom {
	height: 1px;
	width: 124px;

	position: absolute;
	bottom: 0;
	left: 0;
}

#slideshow .slide[data-order="1"] > .content-wrap .content .border-top {
	background: var(--slide-1-border-top-rgba);
}

#slideshow .slide[data-order="1"] > .content-wrap .content .border-bottom {
	background: var(--slide-1-border-bottom-rgba);
}

#slideshow .slide[data-order="2"] > .content-wrap .content .border-top {
	background: var(--slide-2-border-top-rgba);
}

#slideshow .slide[data-order="2"] > .content-wrap .content .border-bottom {
	background: var(--slide-2-border-bottom-rgba);
}

#slideshow .slide[data-order="3"] > .content-wrap .content .border-top {
	background: var(--slide-3-border-top-rgba);
}

#slideshow .slide[data-order="3"] > .content-wrap .content .border-bottom {
	background: var(--slide-3-border-bottom-rgba);
}

#slideshow .slide .bg_img {
	position: absolute;

	margin: auto;

	width: 100%;

}

.bump_left {
	position: absolute;

	bottom: 0;
	left: 0;

	z-index: 20;
}

.bump_right {
	position: absolute;

	bottom: 0;
	right: 0;

	z-index: 20;

}

/* secondary_menu */

#secondary_menu,
#secondary_menu_content {
	height: 55px;

	margin: 0 auto;

	top: 0;

	background-color: white;

	z-index: 15;
}

#secondary_menu {
	position: relative;
}

#secondary_menu_content > .hamburger_menu {
	display: none;
}

#secondary_menu_content{
	position: relative;
}

#secondary_menu > .wrapper {
	width: 100%;
	height: auto;
}

#secondary_menu_content .left_triangle {
	position: absolute;

	top: 0;
	left: -32px;
}

#secondary_menu_content .right_triangle {
	position: absolute;

	top: 0;
	right: -32px;
}

#secondary_menu_content > .content {
	height: inherit;

	font-family: Karbon;
	font-weight: bold;
	font-size: 17px;

	margin: 0 auto;

	color: var(--secondary-menu-link);

	display: flex;
	align-items: center;
	justify-content: center;

}

#secondary_menu_content > .content .link_wrap {

	position: relative;

	height: inherit;
	line-height: 55px;

	padding: 0px 74px;

	border-right: 1px solid var(--secondary-menu-border-long);
}

#secondary_menu_content > .content .link_wrap:last-child,
#secondary_menu_content > .content .link_wrap:last-child .border_right_small {
	border-right: none;
}

#secondary_menu_content > .content .link_wrap .link a:hover {
	color: var(--primary-menu-link-hover);
	border-bottom: 2px solid var(--primary-menu-link-hover);

	cursor: pointer;
}

#secondary_menu_content > .content .link_wrap .border_right_small {
	position: absolute;

	top: 50%;
	margin-top: -5.5px;

	right: -1px;

	height: 11px;
	width: 100%;

	z-index: 2;

	pointer-events: none;

	border-right:1px solid var(--secondary-menu-border-short);
}

/* services */

#services {
	position: relative;

	max-height: 555px;
	width: 100%;
}

#services .bump_hand_move {
	position: absolute;

	top: -72px;
	right: 13px;

	z-index: 20;
}

#services > .content {
	font-family: Karbon;

	padding-top: 53px;
	padding-right: 164px;
	padding-left: 164px;
	padding-bottom: 94px;

	max-height: inherit;
}

#services > .content .title {

	height: 52px;

	margin-bottom: 52px;
}

#services > .content .title .small_text {
	font-weight: bold;
	font-size: 13px;
	color: var(--services-netvariant-font);

	height: 8px;
	line-height: 8px;

	margin-bottom: 8px;
}

#services > .content .title .big_text {
	font-weight: 100;
	font-size: 60px;
	color: var(--services-title-font);

	height: 36px;
	line-height: 36px;

	margin-left: -4px;
}

#services > .content .description {
	font-family: DroidSans;
	font-weight: normal;
	font-size: 14px;
	color: var(--services-text-font);
	text-shadow: 0.3px 0px var(--services-text-font);
	/*word-spacing: 4px;*/

	text-align: left;

	line-height: 21px;

	width: 100%;

	display: flex;
	flex-direction: row;

}

#services > .content .mobile_description {
	font-family: DroidSans;
	font-weight: normal;
	font-size: 14px;
	color: var(--services-text-font);
	text-shadow: 0.3px 0px var(--services-text-font);

	text-align: justify;

	line-height: 21px;

	width: 100%;

	display: none;
}

#services > .content .description .left {
	width: 49.14675767918089%; /* of 1172px - description width */

	margin-right: 39px;
}

#services > .content .description .right {
	width: 47.525597269624576%; /* of 1172px - description width */
}

#services > .content .images {
	font-weight: 100;
	font-size: 28px;
	color: var(--services-under-icon-font);
	word-spacing: 9px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	text-align: center;

	margin-top: 87px;
}

#services > .content .images .left,
#services > .content .images .right {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%
}

#services > .content .images .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#services > .content .images .item:first-child {
	margin-right: 70px;
	margin-left: 40px;
}

#services .read_more {
	position: absolute;

	bottom: 0;
	left: 50%;

	height: 32px;

	margin-left: -64px;
}

#services .read_more img:hover {
	cursor: pointer;
}

/* products_section */

#products_section {
	position: relative;

	min-height: 555px;
	width: 100%;

	background: url("../img/products_background.jpg") left top no-repeat;
	background-size: cover;

	padding-bottom: 60px;
}

#products_section > .content {

	padding-top: 53px;
	padding-left: 159px;
	padding-right: 159px;

	font-family: Karbon;
	max-height: none;
}

#products_section > .content > .title {

	height: 52px;

	margin-bottom: 63px;

	padding-left: 13px;
}

#products_section > .content > .title .small_text {
	font-weight: bold;
	font-size: 13px;
	color: var(--products-netvariant-font);

	height: 8px;
	line-height: 8px;

	margin-bottom: 8px;
}

#products_section > .content > .title .big_text {
	font-weight: 100;
	font-size: 60px;
	color: var(--products-title-font);

	height: 36px;
	line-height: 36px;

	margin-left: -4px;
}

#products_section > .content > .products {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	justify-content: space-around;

	height: auto;
}

#products_section > .content > .products .item {
	height: auto;

	margin-right: 25px;

	margin-bottom: 25px;
}

#products_section > .content > .products .item .img_wrapper {
	float: left;

	height: 100%;
	width: 105px;
}

#products_section > .content > .products .item > .content {
	float: right;

	width: 264px;
	height: 100%;
}

#products_section > .content > .products .item .title {
	font-family: Karbon;
}

#products_section > .content > .products .item .title .product_title {
	font-weight: 100;
	font-size: 40px;
	color: var(--products-product-title-font);

	height: 25px;
	line-height: 25px;

	margin-bottom: 11px;
}

#products_section > .content > .products .item .title .second_title {
	font-weight: bold;
	font-size: 13px;
	color: var(--products-product-second-title-font);
	text-transform: uppercase;s

	height: 8px;
	line-height: 8px;

	margin-bottom: 20px;
}

#products_section > .content > .products .item .divider {


	height: 1px;
	width: 131px;

	background-color: var(--products-divider-rgba);
}

#products_section > .content > .products .item .description {
	font-family: DroidSans;
	font-weight: normal;
	font-size: 14px;

	line-height: 28px;

	color: var(--products-text-font);
	text-shadow: 0.3px 0px var(--products-text-font);

	text-align: left;

	margin-top: 20px;
}


#products_section .read_more {
	position: absolute;

	bottom: 0;
	left: 50%;

	height: 32px;

	margin-left: -64px;
}

#products_section .read_more img:hover {
	cursor: pointer;
}

/* careers */

#careers_section {
	position: relative;

	margin-bottom: -3px;
}

#careers_section img.careers_bg_img {
	width: 100%;
}

#careers_section .mobile_content {
	display: none;
}

#careers_section .shape {
	position: absolute;

	width: 21.73%;
}

#careers_section .shape[data-order="1"] {
	top: 0px;
	left: 14.27%;

	height: 38.36%;

	background: url("../img/shape_1.png") no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
}

#careers_section .shape[data-order="1"] > .title {
	font-family: Karbon;
	font-weight: 100;
	font-size: 40px;		

	text-align: center;
	text-shadow: 0px -1px 0px rgba(0,0,0,.32);

	height: 24px;				
	line-height: 24px;			
			
	margin-top: 8.47%;					
	margin-bottom: 7.51%;		
}

#careers_section .shape[data-order="1"] > .description {
	font-family: DroidSans;
	font-weight: normal;
	font-size: 13px; 			

	text-align: center;

	height: 9px;				
	line-height: 18px;			

	width: 197px;				
	margin-left: auto;
	margin-right: auto;
}

#careers_section .shape[data-order="2"] {
	top: 15.89%;
	left: 30.53%;

	height: 44.94%;

	background: url("../img/shape_2.png") no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
}

#careers_section .shape[data-order="2"] > .icon {
	width: 80px;				
	height: 87px;				

	background: url("../img/icons/profile_detailed_icon.png") no-repeat;
	background-size: cover;

	margin-left: auto;
	margin-right: auto;
	
	margin-top: 24.686192468619247%;
	margin-bottom: 28px;		
}

#careers_section .shape[data-order="2"] > .text {
	width: 130px;				

	font-family: Karbon;
	font-weight: 300;
	font-size: 28px;			

	text-align: center;
	text-shadow: 0px -1px 0px rgba(0,0,0,.32);

	height: 17px;				
	line-height: 25px;			

	margin-left: auto;
	margin-right: auto;
}

#careers_section .shape[data-order="3"] {
	bottom: 0px;
	left: 30.53%;

	height: 39%;

	background: url("../img/shape_3.png") no-repeat;
	background-size: cover;
}

#careers_section .shape[data-order="3"] > .icon {
	width: 76px;				
	height: 57px;				

	background: url("../img/icons/cloud_upload_icon.png") no-repeat;
	background-size: cover;

	margin-left: auto;
	margin-right: auto;

	margin-top: 22.1%;
	margin-bottom: 12px;		
}

#careers_section .shape[data-order="3"] > .text {
	width: 84px;							

	font-family: Karbon;
	font-weight: 100;
	font-size: 28px;			
	color: var(--careers-blue-font);

	text-align: center;

	height: 17px;				
	line-height: 25px;			

	margin-left: auto;
	margin-right: auto;
}

#careers_section .shape[data-order="4"] {
	top: 15.73%;
	left: 62.87%;

	height: 45.1%;

	background: url("../img/shape_4.png") no-repeat;
	background-size: cover;
}

#careers_section .shape[data-order="4"] > .content {			
	width: 57.831325301204814%;				

	text-align: center;

	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;

	margin-top: 17.375886524822697%;
}

#careers_section .shape[data-order="4"] > .content .title {
	font-family: Karbon;
	font-weight: 100;
	font-size: 40px;			

	height: 24px;				
	line-height: 24px;			

	text-shadow: 0px -1px 0px rgba(0,0,0,.42);
		
	margin-bottom: 15px;		
}

#careers_section .shape[data-order="4"] > .content .date {
	font-family: DroidSans;
	font-weight: bold;
	font-size: 13px;			

	height: 9px;				
	line-height: 9px;			

	margin-bottom: 9px;			
}

#careers_section .shape[data-order="4"] > .content .second_title {
	font-family: DroidSans;
	font-weight: bold;
	font-size: 13px;			
	color: var(--careers-news-second-title);

	height: 19px;				
	line-height: 13px;			

	margin-bottom: 10px;		
}

#careers_section .shape[data-order="4"] > .content .text {
	font-family: DroidSans;
	font-weight: normal;
	font-size: 13px;			

	height: 13px;				
	line-height: 22.5px;		

	margin-bottom: 6px;			
}

#careers_section .shape[data-order="4"] .icon {
	width: 17px;				
	height: 28px;				
}

#careers_section .shape[data-order="4"] .left.arrow_icon {
	position: absolute;

	right: 29px;				
	top: 50%;

	margin-top: -14px;			
}

#careers_section .shape[data-order="4"] .right.arrow_icon {
	position: absolute;

	left: 29px;					
	top: 50%;

	margin-top: -14px;			
}


/* footer */

#footer {
	position: relative;

	min-height: 373px;
	width: 100%;

	background-color: var(--footer-background);
}

#footer > .content {
	min-height: inherit;

	margin-left: 164px;
	margin-right: 164px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#footer > .content > .left {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	padding-top: 48px;

	width: 100%;
}

#footer > .content > .left {
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#footer > .content > .left .item {
	position: relative;

	font-family: DroidSans;

	width: 142px;

	margin-right: 29px;

	height: auto;
	margin-bottom: 18px;
}

#footer > .content > .left .floating_border_top {
	position: absolute;

	top: 0;
	left: 0;

	height: 1px;
	width: 27px;

	background-color: var(--footer-links-border-top);
}

#footer > .content > .left .item .title {
	font-family: Karbon;
	font-weight: bold;
	font-size: 15px;
	color: var(--footer-links-title-font);

	text-transform: uppercase;

	height: 9px;
	line-height: 9px;

	padding-top: 11px;
	margin-bottom: 20px;
}

#footer > .content > .left .item .links {
	font-weight: normal;
	font-size: 12px;
	color: var(--footer-links-link-font);
}

#footer > .content > .left .item .links p {
	margin-bottom: 9px;

	line-height: 14px;

	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

#footer > .content > .left .item .links p:hover {
	cursor: pointer;
	color: var(--footer-hyperlink-font);
	text-decoration: underline;
}

#footer > .content > .right_wrapper {
	position: relative;

	margin-top: 24px;

	width: 293px;
	height: 373px;

	z-index: 50;
}

#footer > .content > .right_wrapper .floating_border_bottom {
	position: absolute;

	bottom: 0px;

	width: 100%;
	height: 2px;

	background-color: var(--footer-floating-border-bottom);

	z-index: 50;
}

#footer > .content > .right_wrapper #mapa {
	position: absolute;

	bottom: 0;

	width: 100%;
	height: 144px;
}

#footer > .content > .right_wrapper .right {
	width: inherit;
	height: 100%;

	background-color: var(--footer-contact-us-background);
}

#footer > .content > .right_wrapper .right .contact_us {
	font-family: DroidSans;

	padding-top: 29px;
	padding-left: 36px;
}

#footer > .content > .right_wrapper .right .contact_us > .title {
	font-family: Karbon;
	font-weight: 300;
	font-size: 28px;
	color: var(--footer-contact-us-title-font);	

	height: 17px;
	line-height: 17px;

	margin-bottom: 17px;
}

#footer > .content > .right_wrapper .right .contact_us > .second_title {
	font-weight: bold;
	font-size: 12px;
	color: var(--footer-contact-us-second-title-font);

	height: 9px;
	line-height: 9px;

	margin-bottom: 9px;
}

#footer > .content > .right_wrapper .right .contact_us > .contact_data {
	font-weight: normal;
	font-size: 12px;
	color: var(--footer-contact-us-data-font);
}

#footer > .content > .right_wrapper .right .contact_us > .contact_data p {
	padding-bottom: 9px;
}

#footer > .content > .right_wrapper .right .contact_us > .contact_data p:nth-of-type(2) {
	padding-left: 16px;
}

#footer > .content > .right_wrapper .right .contact_us > .contact_data p:last-of-type {
	padding-bottom: 0px;
}

#footer > .content > .right_wrapper .right .contact_us > .contact_data p a {
	color: var(--footer-hyperlink-font);

	border-bottom: 1px solid var(--footer-hyperlink-font);
}

#footer > .content > .right_wrapper .right .contact_us > .contact_data .highlight { 
	font-weight: bold;
}

/* small_footer */

#small_footer {
	position: relative;

	min-height: 65px;
	width: 100%;

	background-color: var(--small-footer-background);

	font-family: DroidSans;
	font-weight: normal;
	font-size: 12px;
	color: var(--small-footer-color);

	line-height: 66px;

	margin: 0 auto; 
}

#small_footer > .content {
	min-height: inherit;

	margin-left: 164px;
	margin-right: 164px;

	border-top: 1px solid var(--small-footer-border);
}

#small_footer > .content > .left {
	float: left;
}

#small_footer > .content > .right {
	float: right;
}

#small_footer > .content .highlight {
	color: var(--small-footer-highlight-color);
}