#primary_menu .left_menu .link a,
.about_us_menu .link a,
#primary_menu .left_mobile_menu .link a,
#secondary_menu_content > .content .link_wrap .link a {
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;

	-webkit-transition: border-bottom .1s linear;
	-moz-transition: border-bottom .1s linear;
	-ms-transition: border-bottom .1s linear;
	transition: border-bottom .1s linear;

}

#footer > .content > .left .item .links p {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}
